@charset 'utf-8';

.blending-con li {
    display: flex;

    margin-top: 10rem;
    position: relative;
}

.blending-con li:nth-child(2n) {
    flex-direction: row-reverse;
}

.blending-con li figure {
    border-radius: var(--rds);
    width: 59rem;
    height: 67.6rem;
    overflow: hidden;
}

.blending-con li::before figure img {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.con-tit:nth-child(1n) {
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
    position: absolute;
    bottom: 6rem;
    left: 6rem;
    line-height: 1;
}

.con-tit:nth-child(2n) {
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
    position: absolute;
    bottom: 6rem;
    right: 6rem;
    line-height: 1;
    text-align: right;
}

.coffee-con dl {
    margin-left: 6rem;
    margin-right: 6rem;
    max-width: 54rem;
}

.coffee-con dl dt {
    display: inline-block;
    font-weight: 500;
    font-size: 3.2rem;
    color: var(--main-color);
    background: var(--sub-color);
    padding: 2rem;
}
.coffee-con dl dd {
    font-weight: 500;
    font-size: 2.4rem;
    color: #000;
    margin-top: 3rem;
}

.notice strong {
    display: block;
    font-weight: 700;
    font-size: 2.4rem;
    color: #000;
}

.notice {
    background: var(--sub2-color);
    padding: 4rem;
    border-radius: 4rem;
    margin: 7rem 4rem;
    max-width: 54rem;
}

.cupping-note {
    background: var(--sub-opacity);
}

.note-wrap {
    text-align: center;
}

.inner h3 {
    font-weight: 500;
    font-size: 4.2rem;
    color: #000;
    text-align: center;
}

.note-wrap p {
    font-weight: 500;
    font-size: 3rem;
    color: #000;
    margin-top: 8rem;
}

.note-list {
    display: flex;
    gap: 2rem;
    margin: 8rem auto;
}

.note-list li {
}

.note-list li figure img {
    width: 34.6rem;
    height: 34.6rem;
    background: #fff;
    object-fit: none;
    border-radius: 50%;
}

.coffee-taste {
    background: #fff;
    border-radius: var(--rds);
    padding: 10rem;
}
.roasting-point {
    background: #fff;
    border-radius: var(--rds);
    padding: 10rem;
}

.signature-list {
    display: flex;
    margin-top: 8rem;
    gap: 2rem;
}

.signature-list li {
    max-width: 34.5rem;
}

.signature-list li figure img {
    width: 34.4rem;
    height: 34.4rem;
    background: var(--main10p);
    border-radius: var(--rds);
    object-fit: none;
}
.signature-list li dl {
}
.signature-list li dl dt {
    margin-top: 3.4rem;
    font-weight: 500;
    font-size: 4rem;
    color: #000;
}
.signature-list li dl dd {
    margin-top: 3rem;
    font-weight: 300;
    font-size: 2.4rem;
}
