@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    font-size: 100%; /* 16px --> 1rem */
    font-size: 62.5%; /* 10px --> 1rem */
    --main-color: #001f60;
    --main-opacity: rgba(0, 31, 96, 0.5);
    --sub-color: #ffe800;
    --sub-opacity: rgba(255, 232, 0, 0.1);
    --sub2-color: #e6e7e8;
    --text-color: #333;
    --black50p: rgba(0, 0, 0, 0.5);
    --black70p: rgba(0, 0, 0, 0.7);
    --white70p: rgba(255, 255, 255, 0.7);
    --main10p: rgba(0, 31, 96, 0.1);
    --main30p: rgba(0, 31, 96, 0.3);
    --rds: 6rem;
}

::selection {
    background: var(--main-color);
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--main-color);
}

hr,
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

img {
    max-width: 100%;
}

button {
    background-color: transparent;
    cursor: pointer; /* cup */
}

body {
    font: 2rem/1.2 "Roboto", "Pretendard", sans-serif;
    word-break: keep-all;
}

.inner {
    width: 144rem;
    margin: 0 auto;
    /* background: rgba(255, 255, 0, 0.1); */
}

#header {
    width: 100%;
}

#header nav {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo {
    /* margin-left: 12rem; */
    width: 162px;
    height: 52px;
}

.gnb {
    display: flex;
}

.gnb li a {
    font-weight: 600;
    color: var(--text-color);
    /* border: 1px solid #000; */
    display: block;
    padding: 1rem 7.5rem;
}

.hamburger {
    display: none;
}

#main > section {
    padding: 10rem 0;
}

.sec-title {
    text-align: center;
    margin-bottom: 6rem;
}

.sec-title h2 {
    font-weight: 900;
    font-size: 6rem;
    color: var(--main-color);
    gap: 10px;
}

.con-wrap {
    font-weight: 900;
    font-size: 4rem;
    color: var(--white70p);
}

.bread {
    text-align: center;

    background: var(--main10p);
    width: 100%;
    padding: 8rem 0;
    gap: 3rem;
}

.bread h1 {
    font-weight: 600;
    font-size: 4rem;
    color: var(--main-color);
}

.bread p {
    font-size: 3.4rem;
    color: #000;
}

.category {
    display: flex;
    gap: 1rem;
    margin: 10rem auto;
    justify-content: center;
    align-items: center;
}

.category li {
}

.category a {
    padding: 1.4rem 4rem;
    border: 1px solid var(--main-color);
    border-radius: var(--rds);
    background: #fff;
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.8rem;
}

.category a:hover {
    background: var(--main-color);
    color: #fff;
}

.tit-con * {
    text-align: center;
}

.tit-con p {
    font-size: 3.4rem;
    color: #000;
}
.tit-con h2 {
    font-weight: 900;
    font-size: 6rem;
    color: var(--main-color);
    margin-top: 1rem;
}
.tit-con strong {
    display: block;
    font-weight: 500;
    font-size: 3.6rem;
    color: #000;
    margin-top: 8rem;
}

#footer {
    background: var(--main-color);
    color: var(--sub2-color);
    /* text-align: center; */
    padding: clamp(6rem, 10rem, 16rem) 0;
    text-align: center;
}

.foot-link ul {
    display: flex;
    gap: clamp(1rem, 1vw, 2rem);
    justify-content: center;
}

.link-hidden {
    display: none;
}

.foot-logo {
    display: inline-block;
    margin-top: 6rem;
    width: 25.2rem;
    height: 6.6rem;
}

.foot-con {
    margin-top: 6rem;
}

.copyright {
    line-height: 1.5;
}

aside {
    display: flex;
    gap: 1rem;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    flex-direction: column;
    z-index: 100;
}

aside a {
    width: 9.4rem;
    aspect-ratio: 1;
    border: 2px solid #fff;
    border-radius: var(--rds);
}
#footer .q-hidden {
    display: none;
}

@media screen and (max-width: 800px) {
    .foot-link {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    .foot-link li {
        width: 7.5rem;
        height: 7.5rem;
    }

    #footer .q-menu .q-hidden {
        display: block;
        border: 2px solid #e6e7e8;
        border-radius: 50%;
    }

    .foot-logo {
        width: 20rem;
        height: 5.2rem;
    }

    aside .btn-hidden {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .sec-title {
        margin-bottom: 5rem;
    }

    aside {
        position: fixed;
        right: 1.5rem;
        bottom: 1.5rem;
    }

    aside .btn-top {
        width: 8rem;
        aspect-ratio: 1;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --rds: 4rem;
    }

    .sec-title {
        margin-bottom: 4rem;
    }

    aside {
        position: fixed;
        right: 2rem;
        bottom: 2rem;
    }

    aside .btn-top {
        width: 8rem;
        aspect-ratio: 1;
    }
}
