@charset 'utf-8';

.hamburger {
    display: none;
}

.visual {
    padding: 0 !important;
    margin: 0 auto;
}

.visual-slider .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 11rem;
    height: 11rem;

    background: transparent;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

.visual-slider .btn-prev {
    left: 0rem;
}
.visual-slider .btn-next {
    right: 0rem;
}

.swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    background: var(--main30p);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: var(--main-color);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullet,
.swiper-pagination-horizontal,
.swiper-pagination-bullets,
.swiper-pagination-bullet {
    bottom: 2rem;
}

.menu-slider .swiper-slide {
    display: flex;
    gap: 2rem;
}

.coffee-swiper-slide {
    display: flex;
    gap: 2rem;
}

.drink-swiper-slide {
    display: flex;
    gap: 2rem;
}

.menu-slider-wrap {
    position: relative;
    margin: 0 auto;
}

.menu-slider-wrap .swiper-pagination {
    position: absolute;
    bottom: -5rem;
}

.menu .inner {
    /* width: 184rem; */
    width: 97.8723%;
}

.menu-slider .swiper-slide a {
    position: relative;
    width: 86.3rem;
    /* width: 46.9022%; */
    /* height: 67.2rem; */
    aspect-ratio: 1/0.7786790266512167;
    overflow: hidden;
    border-radius: var(--rds);
}

.menu-category p {
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    font-weight: 900;
    font-size: 4rem;
    color: var(--white70p);
    z-index: 1;
}

.menu-category::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.menu-list {
    /* width: 95.4rem; */
    width: 51.8478%;
    /* height: 67.2rem; */
    aspect-ratio: 1/0.7044025157232704;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* justify-content: space-between; */
}

.menu-list li {
    position: relative;
    display: flex;
    /* border: 1px solid #000; */
    /* width: 46.7rem; */
    width: 47.9466%;

    /* height: 32.6rem; */
    aspect-ratio: 1/0.6980728051391863;
    border-radius: var(--rds);
    background: var(--main10p);
    overflow: hidden;
}

.menu-list li figure {
}

.menu-list li figure img {
}

.menu-list li a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    transition: 0.4s;
    opacity: 0;
}

.menu-list li:hover a::after {
    opacity: 1;
    top: 0;
}

.menu-list li:hover p {
    opacity: 1;
    transition: 0.4s;
}

.menu-list li p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 3.4rem;
    color: #fff;
    width: 90%;
    text-align: center;
    opacity: 0;
    z-index: 10;
}

.story {
    background: var(--main10p);
}

.coffee-story {
    margin-top: 6rem;
}

.coffee-story li {
    background: var(--main-color);
    border-radius: var(--rds);
    overflow: hidden;
}

.coffee-story li + li {
    margin-top: 4rem;
}

.coffee-story li a {
    display: flex;
}

.coffee-story li:nth-child(2n) a {
    flex-direction: row-reverse; /* fxdrr */
}

.coffee-story li a figure {
    width: 64rem;
    width: 44.4444%;
}
.coffee-story li a .story-con {
    flex-grow: 1;
    padding: clamp(2rem, 6vw, 6.6rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story-con p {
    font-size: 3rem;
    line-height: 1.5;
    color: var(--sub2-color);
}

.store .inner {
    width: 100%;
}

.store-list {
    display: flex;
    margin-top: 6rem;
    gap: 2rem;
}

.store-list .con-wrap {
    position: absolute;
    top: 8rem;
    left: 8rem;
}

.store-list li {
    position: relative;
}

.store-list li + li p {
    font-weight: 600;
    font-size: 3rem;
    color: var(--main-color);
    background: #fff;
    /* width: 79rem; */
    width: 83.1579%;
    padding: 2rem 4rem;
    border-radius: var(--rds);
    text-align: center;
    position: absolute;
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);
}

.search {
    border-radius: var(--rds);
    background: #fff;

    padding: 2rem 4rem;
    position: absolute;
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);

    /* width: 79rem; */
    width: 83.1579%;
    display: flex;
}
.search input {
    font-weight: 600;
    font-size: 3rem;
    outline: none;
    width: 69.4737%;
    color: var(--main-color);
}

.btn-search {
    display: block;

    align-items: center;
    justify-content: center;
}

.sns {
    background: var(--sub-color);
}

.sns-slider-wrap {
    position: relative;
}

.sns-slider-wrap .swiper-slide {
    transform: scale(0.8);
    transition: 0.4s;
}
.sns-slider-wrap .swiper-slide.swiper-slide-active {
    transform: scale(1);
}

.sns-slider-wrap .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 11rem;
    height: 11rem;

    background: transparent;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sns-slider-wrap .btn-prev {
    left: -11rem;
}
.sns-slider-wrap .btn-next {
    right: -11rem;
}

.sns-slider-wrap .swiper-pagination {
    position: absolute;
    bottom: -5rem;
}

.sns-slider figure {
    aspect-ratio: 1;
    border-radius: var(--rds);
    overflow: hidden;
}

.sns-slider figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 태블릿 디자인 */
@media screen and (max-width: 1280px) {
    .inner {
        width: 84.375%;
    }

    .logo {
        padding: 0;
    }

    .hamburger {
        display: block;
        padding: 0;
    }

    .gnb {
        display: none;
    }
    .visual {
        width: 100%;
        /* aspect-ratio: 1/0.375; */
        margin: 0 auto;
    }

    .menu-slider-wrap {
        /* width: 84.375%; */
        margin: 0 auto;
    }

    .menu a {
        /* width: 53rem; */
        width: 49.0741%;
        /* height: 67.6rem; */
        aspect-ratio: 1/1.275471698113208;
    }

    .menu-category figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .menu-list {
    }

    .menu-list li {
        /* width: 25.5rem; */
        width: 48.1132%;
        aspect-ratio: 1/1.286274509803922;
        /* height: 32.8rem; */
    }

    .menu-list li a {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .menu-list li a figure img {
    }

    .coffee-story figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .story-con {
        margin: 0;
    }

    .sns-slider-wrap .btn {
        display: none;
    }
}

/* 중간 분기점 */

@media screen and (max-width: 1075px) {
    .menu-slider a {
        width: 50%;
        aspect-ratio: 1/2;
    }

    .menu-list li {
        display: flex;
        flex-wrap: wrap;
        border-radius: 4rem;
        width: 45%;
        position: relative;
    }

    .menu-list li figure {
        position: absolute;
        top: 0;
    }
}

/* 중간 분기점 2 */

@media screen and (max-width: 800px) {
    .inner {
        width: 74rem;
    }

    .menu-slider-wrap .swiper-wrapper a {
        width: 100%;
        aspect-ratio: 1;
        margin: 0 auto;
    }

    .menu-list li {
        display: none;
    }

    .story .inner {
        width: 80%;
    }

    .coffee-story li a {
        flex-direction: column;
        position: relative;
    }

    .coffee-story li a figure {
        position: relative;
    }

    .story-con h3 {
        font-size: 4rem;
        position: absolute;
        top: 30rem;

        z-index: 1;
    }

    .coffee-story:nth-child(2) li a {
        flex-direction: column;
    }

    .coffee-story li a figure {
        width: 100%;
        aspect-ratio: 1/0.6666666666666667;
        position: relative;
    }

    .story-con h3 {
        font-weight: 3rem;
        color: var(--main-color);
        /* position: absolute;
        top: 30rem; */
    }

    .story-con p {
        font-size: 3rem;
    }

    .coffee-story li a figure::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
    }

    .store .inner {
        width: 80%;
    }

    .store-list {
        flex-direction: column;
    }

    .store-list li {
        position: relative;
    }

    .store-list .con-wrap {
        position: absolute;
        top: 3rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3rem;
    }
    .store-list li figure {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 6rem;
        overflow: hidden;
        margin: 0 auto;
    }

    .search {
        width: 80%;
        height: 8rem;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 36rem;
        align-items: center;
    }

    .search input {
        font-size: 2.4rem;
    }

    .search img {
        width: 3.2rem;
        height: 3.2rem;
    }

    .store-list li + li p {
        font-size: 2.4rem;
        display: block;
        width: 80%;
        height: 8rem;
        top: 36rem;
    }

    .sns .inner {
        width: 80%;
    }
}

/* 중간 분기점 3*/

@media screen and (max-width: 600px) {
    .inner {
        width: 50rem;
    }

    .visual-slider-wrap .visual-slider .swiper-wrapper .swiper-slide a figure img {
        width: 100%;
        aspect-ratio: 1/0.8372093023255814;
        object-fit: cover;
    }

    .visual-slider .btn {
        display: none;
    }

    .menu-slider-wrap .swiper-wrapper a {
        width: 80%;
        aspect-ratio: 1/0.9515151515151515;
        border-radius: 4rem;
        overflow: hidden;
        margin: 0 auto;
    }

    .menu a p {
        font-size: 3.4rem;
        bottom: 3rem;
        left: 3rem;
    }

    .menu-list {
        display: none;
    }

    .coffee-story li a {
        width: 100%;
        position: relative;
    }

    .coffee-story li a figure {
        position: relative;
    }

    .story-con h3 {
        font-size: 3rem;
        position: absolute;
        top: 22rem;

        z-index: 1;
    }

    .story-con p {
        font-size: 2.4rem;
    }

    .store-list {
        flex-direction: column;
    }
    .store-list li figure img {
        width: 100%;
        aspect-ratio: 1/1.078787878787879;
        object-fit: cover;
    }

    .search {
        width: 72.7273%;
        display: flex;
        justify-content: space-between;
    }

    .search input {
        font-size: 2.2rem;
    }

    .search img {
        width: 3.2rem;
        height: 3.2rem;
    }

    .store-list .con-wrap {
        font-size: 3rem;
    }

    .store-list li + li p {
        font-size: 2.2rem;
        display: block;
        width: 72.7273%;
    }

    .story-con p {
    }

    .sns-slider figure {
        width: 100%;
        aspect-ratio: 1/0.9515151515151515;
        object-fit: cover;
    }
}

/* 모바일 분기점 */

@media screen and (max-width: 430px) {
    .inner {
        width: 33rem;
    }

    .story-con h3 {
        font-size: 3rem;
        position: absolute;
        top: 14rem;

        z-index: 1;
    }

    .story-con p {
        font-size: 2rem;
    }
}
